/LehenFXMLProiektua/target/
/JavaFXApplicationWithFXML/nbproject/private/
/UD0/First/nbproject/private/
/UD0/Ikasleak/build/
/UD0/Ikasleak/dist/
/UD0/Ikasleak/nbproject/private/
/UD0/Kalkulagailua/nbproject/private/
/UD0/Kalkulagailua/build/
/UD0/Kalkulagailua/dist/
/UD1/IOStreams/nbproject/private/
/UD1/IOStreams/build/
/UD1/IOStreams/dist/
/UD1/10.Batuketa/nbproject/private/
/UD1/10.Batuketa/build/
/UD1/10.Batuketa/dist/
/UD1/CsvKontsola/nbproject/private/
/UD1/CsvKontsola/build/
/UD1/xml/nbproject/private/
/UD1/xml/build/
/UD1/JSONFitxategiak/nbproject/private/
/UD1/JSONFitxategiak/build/
/UD1/JavaApplication6/nbproject/private/
/UD1/JavaApplication6/build/
/UD1/ORM_Lana/nbproject/private/
/UD2/ORM-Proiektua/build/
/UD2/ORM-Proiektua/dist/
/UD2/ORM-Proiektua/nbproject/private/
