/LehenFXMLProiektua/target/
/JavaFXApplicationWithFXML/nbproject/private/
/UD0/First/nbproject/private/
/UD0/Ikasleak/build/
/UD0/Ikasleak/dist/
/UD0/Ikasleak/nbproject/private/
/UD0/Kalkulagailua/nbproject/private/
